body{ margin:0; padding:0; }
body { font-size:20px;font-family: 'Microsoft YaHei' }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.maintable{
	margin:50px auto;
	border-radius: 5px;
}
.maintable tr td{

	width: 100px;
	height: 100px;
}
.maintable td>span{
	display: block;
	text-align: center;
	line-height: 100px;
	background-color: rgba(0, 134, 139, 0.5);
	position: absolute;
	width: 100px;
	height: 100px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

